<!--
	@template = tier
	@title = Blog	
	@keywords = reasons to own a corgi, corgi lover, corgi life,
	@description = 5 Reasons to own a corgi
-->

        <!-- BEGIN: PAGE CONTAINER -->
        <div class="c-layout-page">
            <!-- BEGIN: LAYOUT/BREADCRUMBS/BREADCRUMBS-1 -->
            <div class="c-layout-breadcrumbs-1 c-fonts-uppercase c-fonts-bold c-bordered c-bordered-both">
                <div class="container">
                    <div class="c-page-title c-pull-left">
                        <h3 class="c-font-uppercase c-font-sbold">5 Reasons To Own a Corgi</h3>
                    </div>
                    <ul class="c-page-breadcrumbs c-theme-nav c-pull-right c-fonts-regular">
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li>/</li>
                        <li>
                            <a href="/blog">Blog</a>
                        </li>
                        <li>/</li>
                        <li class="c-state_active">5 reasons to own a corgi</li>
                    </ul>
                </div>
            </div>
            <!-- END: LAYOUT/BREADCRUMBS/BREADCRUMBS-1 -->

 <!-- BEGIN: PAGE CONTENT -->
            <!-- BEGIN: BLOG LISTING -->
            <div class="c-content-box c-size-md">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="c-content-blog-post-1-view">
                                <div class="c-content-blog-post-1">
                                    <div class="c-media">
                                        <div class="c-content-media-2-slider" data-slider="owl" data-single-item="true" data-auto-play="4000">
                                            <div class="owl-carousel owl-theme c-theme owl-single">
                                                <div class="item">
                                                    <div class="c-content-media-2" style="background-image: url({theme_path}/assets/images/dexter-walk-2.jpg); min-height: 460px;"> </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="c-title c-font-bold c-font-uppercase">
                                        <div id="blog_post" itemscope="" itemtype="http://schema.org/BlogPosting">
										<h1 itemprop="name headline">5 reasons to own a Corgi</h1>
                                        </div>
                                    </div>
                                        <div class="c-desc">
                                        <p>There are endless reasons on why you should own a corgi, but I have narrowed it down to my top 5 reasons why you should own a corgi.  </p>
                                        <p><b>1. They are adorable.</b><br />
	                                       I mean look at that adorable face, and don't forget how low they are to the ground with those short legs! Corgis have a wide variety of awesome features for how small they are, some of these features include incredibly soft ears, cute butts, and long tongues. They practically look like foxes with shorter legs.  	
	                                    </p>
                                        <p><b>2. They are smart</b><br />
	                                       Corgis are one of the smartest dog breeds out there, and I have definitely witnessed this first hand. My Corgi dexter is constantly outsmarting me by, opening doors with his nose, pawing the door blinds when he needs to go to the bathroom, these are just a few of the many things he does.
	                                    </p>
                                        <p><b>3. They make you smile</b><br />
	                                        The first and last thing I do before I leave my house is greet dexter hi or bye which always puts a smile on my face. Corgis love there masters attention and I always find Dexter following me around every where I go just so he can hangout with me and make me smile.
                                        </p>
                                        <p><b>4. They make awesome friends</b><br />
	                                       Corgis are extremely loyal which makes them even better friends. Whats more to love then mans best friend listening and obeying you? Nothing, loyalty is priceless and corgis have a lot of it. Dexter always responds to his name being called, even if he is sleeping comfortable in a pillow fort he made, or playing with his favorite rope toy.	                                   
	                                    </p>
	                                    <p><b>5. They have unique personality</b>
		                                    Every corgi I've met has a awesome but unique almost human personality. You can tell there moods which is quite honestly hilarious. Right after I say "treat" or "want to go for a walk" Dexters face lights up with joy and excitement and he often cracks a smile.</p>
                                    </div>
                                    <div class="c-comments">
                                                                                <div class="c-content-title-1">
                                            <h3 class="c-font-uppercase c-font-bold">Leave A Comment</h3>
                                            <div class="c-line-left"></div>
                                        </div>
                                        <form action="#">
                                            <div class="form-group">
                                                <input type="text" placeholder="Your Name" class="form-control c-square"> </div>
                                            <div class="form-group">
                                                <input type="text" placeholder="Your Email" class="form-control c-square"> </div>
                                            <div class="form-group">
                                                <input type="text" placeholder="Your Website" class="form-control c-square"> </div>
                                            <div class="form-group">
                                                <textarea rows="8" name="message" placeholder="Write comment here ..." class="form-control c-square"></textarea>
                                            </div>
                                            <div class="form-group">
                                                <button type="submit" class="btn c-theme-btn c-btn-uppercase btn-md c-btn-sbold btn-block c-btn-square">Submit</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
 <div class="c-content-tab-1 c-theme c-margin-t-30">
                                <div class="nav-justified">
                                    <ul class="nav nav-tabs nav-justified">
                                        <li class="active">
                                            <a href="#blog_recent_posts" data-toggle="tab">Recent Posts</a>
                                        </li>
                                        <li>
                                            <a href="#blog_popular_posts" data-toggle="tab">Popular Posts</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="blog_recent_posts">
                                            <ul class="c-content-recent-posts-1">
                                                <li>
                                                    <div class="c-image">
                                                        <img src="{theme_path}/assets/images/dexter-walk-2.jpg" alt="" class="img-responsive"> </div>
                                                    <div class="c-post">
                                                        <a href="/blog/5-reasons-to-own-a-corgi" class="c-title">5 reasons to own a corgi</a>
                                                        <div class="c-date">18 Jan 2015</div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="c-image">
                                                        <img src="{theme_path}/assets/images/dexter-money.jpg" alt="" class="img-responsive"> </div>
                                                    <div class="c-post">
                                                        <a href="/blog/why-corgis-make-the-best-pets" class="c-title">Why corgis make the best pets</a>
                                                        <div class="c-date">24 Jan 2015</div>
                                                    </div>
                                                </li>
<!--
                                                <li>
                                                    <div class="c-image">
                                                        <img src="{theme_path}/assets/images/dexter-walk-2.jpg" alt="" class="img-responsive"> </div>
                                                    <div class="c-post">
                                                        <a href="" class="c-title">How did corgis get there name?</a>
                                                        <div class="c-date">27 Jan 2015</div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="c-image">
                                                        <img src="{theme_path}/assets/images/dexter-walk-2.jpg" alt="" class="img-responsive"> </div>
                                                    <div class="c-post">
                                                        <a href="" class="c-title"> UX Design Expo 2015... </a>
                                                        <div class="c-date">27 Jan 2015</div>
                                                    </div>
                                                </li>
-->
                                            </ul>
                                        </div>
                                        <div class="tab-pane" id="blog_popular_posts">
                                            <ul class="c-content-recent-posts-1">
                                                <li>
                                                    <div class="c-image">
                                                        <img src="{theme_path}/assets/images/dexter-walk-2.jpg" class="img-responsive" alt="5 reasons to own a corgi" title="5 reasons to own a corgi" /> </div>
                                                    <div class="c-post">
                                                        <a href="" class="c-title">5 reasons to own a corgi</a>
                                                        <div class="c-date">18 Jan 2015</div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="c-image">
                                                        <img src="{theme_path}/assets/images/dexter-money.jpg" alt="" class="img-responsive"> </div>
                                                    <div class="c-post">
                                                        <a href="/blog/why-corgis-make-the-best-pets" class="c-title">Why corgis make the best pets</a>
                                                        <div class="c-date">24 Jan 2015</div>
                                                    </div>
                                                </li>
<!--
                                                <li>
                                                    <div class="c-image">
                                                        <img src="{theme_path}/assets/images/dexter-walk-2.jpg" class="img-responsive" alt="" /> </div>
                                                    <div class="c-post">
                                                        <a href="" class="c-title">How did corgis get there name?</a>
                                                        <div class="c-date">27 Jan 2015</div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="c-image">
                                                        <img src="{theme_path}/assets/images/dexter-walk-2.jpg" class="img-responsive" alt="" /> </div>
                                                    <div class="c-post">
                                                        <a href="" class="c-title"> UX Design Expo 2015... </a>
                                                        <div class="c-date">27 Jan 2015</div>
                                                    </div>
                                                </li>
-->
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        