<!--
	@template = tier
	@title = Blog	
	@keywords =  corgi pet, best pets, corgi, 
	@description = Why corgis make the best pets
-->

        <!-- BEGIN: PAGE CONTAINER -->
        <div class="c-layout-page">
            <!-- BEGIN: LAYOUT/BREADCRUMBS/BREADCRUMBS-1 -->
            <div class="c-layout-breadcrumbs-1 c-fonts-uppercase c-fonts-bold c-bordered c-bordered-both">
                <div class="container">
                    <div class="c-page-title c-pull-left">
                        <h3 class="c-font-uppercase c-font-sbold">Why Corgis make the best pets</h3>
                    </div>
                    <ul class="c-page-breadcrumbs c-theme-nav c-pull-right c-fonts-regular">
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li>/</li>
                        <li>
                            <a href="/blog">Blog</a>
                        </li>
                        <li>/</li>
                        <li class="c-state_active">Why Corgis make the best pets</li>
                    </ul>
                </div>
            </div>
            <!-- END: LAYOUT/BREADCRUMBS/BREADCRUMBS-1 -->

 <!-- BEGIN: PAGE CONTENT -->
            <!-- BEGIN: BLOG LISTING -->
            <div class="c-content-box c-size-md">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="c-content-blog-post-1-view">
                                <div class="c-content-blog-post-1">
                                    <div class="c-media">
                                        <div class="c-content-media-2-slider" data-slider="owl" data-single-item="true" data-auto-play="4000">
                                            <div class="owl-carousel owl-theme c-theme owl-single">
                                                <div class="item">
                                                    <div class="c-content-media-2" style="background-image: url({theme_path}/assets/images/dexter-money.jpg); min-height: 460px;"> </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="c-title c-font-bold c-font-uppercase">
                                        <div id="blog_post" itemscope="" itemtype="http://schema.org/BlogPosting">
										<h1 itemprop="name headline">Why you should get a Corgi</h1>
                                        </div>
                                    </div>
                                        <div class="c-desc">
                                        <p>I get asked all the time if my corgi is a good pet, and the answer I always give is they don’t make a good pet, they make the best pet!</p>
                                        <p><b>The Pros</b><br />
	                                       Corgis are such awesome dogs and have very unique personalities. In my opinion they are one of the most affectionate, gentle and loyal dogs. My Corgi Dexter is 5 years and has been my best pet and favorite pet by far surpassing 2 dogs and 3 cats I’ve owned over the years. Dexter is a purebred Pembroke Corgi, I got him as a puppy from a farm. He was fairly easy to train but still to this day he will sometimes think for himself and disobey my commands, thats just there nature. My favorite thing about Dexter is definitely his quirky personality, he is always doing something clumsy or making himself a bed out of pillows and blankets. It always a crackup to watch him be himself.  	
	                                    </p>
                                        <p><b>The Cons</b><br />
	                                       Even though corgis have a lot of ups they also have some cons just like every other pet. Some of down sides to corgis is they can be territorial, especially towards other dogs, and cats they don’t know. They are very smart and strong-willed so you have to be able to take charge. They are very smart is a good thing… most of the time lol. Dexter is constantly outsmarting me and is really good at it.
	                                    </p>
                                        <p><b>Overall</b><br />
	                                        In the end Corgis make terrific pets for any person of family, you just have to give them attention and make time for them. Trust me they will love it! They make great companions and best friends. If you are still thinking about getting a corgi, stop thinking and do it. They are worth it I promise and you wont regret getting one.
                                        </p>
                                       </div>
                                    <div class="c-comments">
                                                                                <div class="c-content-title-1">
                                            <h3 class="c-font-uppercase c-font-bold">Leave A Comment</h3>
                                            <div class="c-line-left"></div>
                                        </div>
                                        <form action="#">
                                            <div class="form-group">
                                                <input type="text" placeholder="Your Name" class="form-control c-square"> </div>
                                            <div class="form-group">
                                                <input type="text" placeholder="Your Email" class="form-control c-square"> </div>
                                            <div class="form-group">
                                                <input type="text" placeholder="Your Website" class="form-control c-square"> </div>
                                            <div class="form-group">
                                                <textarea rows="8" name="message" placeholder="Write comment here ..." class="form-control c-square"></textarea>
                                            </div>
                                            <div class="form-group">
                                                <button type="submit" class="btn c-theme-btn c-btn-uppercase btn-md c-btn-sbold btn-block c-btn-square">Submit</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
 <div class="c-content-tab-1 c-theme c-margin-t-30">
                                <div class="nav-justified">
                                    <ul class="nav nav-tabs nav-justified">
                                        <li class="active">
                                            <a href="#blog_recent_posts" data-toggle="tab">Recent Posts</a>
                                        </li>
                                        <li>
                                            <a href="#blog_popular_posts" data-toggle="tab">Popular Posts</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="blog_recent_posts">
                                            <ul class="c-content-recent-posts-1">
                                                <li>
                                                    <div class="c-image">
                                                        <img src="{theme_path}/assets/images/dexter-walk-2.jpg" alt="" class="img-responsive"> </div>
                                                    <div class="c-post">
                                                        <a href="/blog/5-reasons-to-own-a-corgi" class="c-title">5 reasons to own a corgi</a>
                                                        <div class="c-date">18 Jan 2015</div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="c-image">
                                                        <img src="{theme_path}/assets/images/dexter-money.jpg" alt="" class="img-responsive"> </div>
                                                    <div class="c-post">
                                                        <a href="/blog/why-corgis-make-the-best-pets" class="c-title">Why corgis make the best pets</a>
                                                        <div class="c-date">24 Jan 2015</div>
                                                    </div>
                                                </li>
<!--
                                                <li>
                                                    <div class="c-image">
                                                        <img src="{theme_path}/assets/images/dexter-walk-2.jpg" alt="" class="img-responsive"> </div>
                                                    <div class="c-post">
                                                        <a href="" class="c-title">How did corgis get there name?</a>
                                                        <div class="c-date">27 Jan 2015</div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="c-image">
                                                        <img src="{theme_path}/assets/images/dexter-walk-2.jpg" alt="" class="img-responsive"> </div>
                                                    <div class="c-post">
                                                        <a href="" class="c-title"> UX Design Expo 2015... </a>
                                                        <div class="c-date">27 Jan 2015</div>
                                                    </div>
                                                </li>
-->
                                            </ul>
                                        </div>
                                        <div class="tab-pane" id="blog_popular_posts">
                                            <ul class="c-content-recent-posts-1">
                                                <li>
                                                    <div class="c-image">
                                                        <img src="{theme_path}/assets/images/dexter-walk-2.jpg" class="img-responsive" alt="5 reasons to own a corgi" title="5 reasons to own a corgi" /> </div>
                                                    <div class="c-post">
                                                        <a href="" class="c-title">5 reasons to own a corgi</a>
                                                        <div class="c-date">18 Jan 2015</div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="c-image">
                                                        <img src="{theme_path}/assets/images/dexter-money.jpg" alt="" class="img-responsive"> </div>
                                                    <div class="c-post">
                                                        <a href="/blog/why-corgis-make-the-best-pets" class="c-title">Why corgis make the best pets</a>
                                                        <div class="c-date">24 Jan 2015</div>
                                                    </div>
                                                </li>
<!--
                                                <li>
                                                    <div class="c-image">
                                                        <img src="{theme_path}/assets/images/dexter-walk-2.jpg" class="img-responsive" alt="" /> </div>
                                                    <div class="c-post">
                                                        <a href="" class="c-title">How did corgis get there name?</a>
                                                        <div class="c-date">27 Jan 2015</div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="c-image">
                                                        <img src="{theme_path}/assets/images/dexter-walk-2.jpg" class="img-responsive" alt="" /> </div>
                                                    <div class="c-post">
                                                        <a href="" class="c-title"> UX Design Expo 2015... </a>
                                                        <div class="c-date">27 Jan 2015</div>
                                                    </div>
                                                </li>
-->
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        