
<!--
	@template = tier
	@title = Blog	
	@keywords = corgi blog, corgi, corgi life, corgi addict
	@description = a blog about corgis and why they are the best pets
	
	
	
	 <!-- BEGIN: PAGE CONTAINER -->
        <div class="c-layout-page">
            <!-- BEGIN: LAYOUT/BREADCRUMBS/BREADCRUMBS-1 -->
            <div class="c-layout-breadcrumbs-1 c-fonts-uppercase c-fonts-bold c-bordered c-bordered-both">
                <div class="container">
                    <div class="c-page-title c-pull-left">
                        <h3 class="c-font-uppercase c-font-sbold">Blog</h3>
                    </div>
                    <ul class="c-page-breadcrumbs c-theme-nav c-pull-right c-fonts-regular">
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>/</li>
                        <li class="c-state_active">Blog</li>
                    </ul>
                </div>
            </div>
            <!-- END: LAYOUT/BREADCRUMBS/BREADCRUMBS-1 -->
            <!-- BEGIN: PAGE CONTENT -->
            <!-- BEGIN: BLOG LISTING -->
            <div class="c-content-box c-size-md">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="c-content-blog-post-card-1-grid">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="c-content-blog-post-card-1 c-option-2 c-bordered">
                                            <div class="c-media c-content-overlay">
                                                <div class="c-overlay-wrapper">
                                                    <div class="c-overlay-content">
                                                        <a href="/blog/35-corgis-to-get-you-through-the-day">
                                                            <i class="icon-link"></i>
                                                        </a>
                                                        <a href="{theme_path}/assets/images/blog/corgi-3.jpg" data-lightbox="fancybox" data-fancybox-group="gallery">
                                                            <i class="icon-magnifier"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                                <img class="c-overlay-object img-responsive" src="{theme_path}/assets/images/blog/corgi-3.jpg" alt=""> </div>
                                            <div class="c-body">
                                                <div class="c-title c-font-bold c-font-uppercase">
                                                    <a href="/blog/35-corgis-to-get-you-through-the-day">35 Corgis to get you through the day</a>
                                                </div>
                                                <div class="c-author"> By
                                                        <span class="c-font-uppercase">Braden Cluff</span>
                                                </div>
                                                <p>Theres one thing that always uplifts me and makes me happy, corgis. </p>
                                                <a href="/blog/35-corgis-to-get-you-through-the-day">read more...</a>
                                            </div>
                                        </div>
                                        <div class="c-content-blog-post-card-1 c-option-2 c-bordered">
                                            <div class="c-media c-content-overlay">
                                                <div class="c-overlay-wrapper">
                                                    <div class="c-overlay-content">
                                                        <a href="/blog/why-corgis-make-the-best-pets">
                                                            <i class="icon-link"></i>
                                                        </a>
                                                        <a href="{theme_path}/assets/images/blog/corgi-2.jpg" data-lightbox="fancybox" data-fancybox-group="gallery">
                                                            <i class="icon-magnifier"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                                <img class="c-overlay-object img-responsive" src="{theme_path}/assets/images/blog/corgi-1.jpg" alt=""> </div>
                                            <div class="c-body">
                                                <div class="c-title c-font-bold c-font-uppercase">
                                                    <a href="/blog/why-corgis-make-the-best-pets">Why Corgis make the best pets</a>
                                                </div>
                                                <div class="c-author"> By
                                                        <span class="c-font-uppercase">Braden Cluff</span>
                                                </div>
                                                <p>I get asked all the time if my corgi is a good pet, and the answer I always give is they don’t make a good pet, they make the best pet!</p>
                                                <a href="/blog/why-corgis-make-the-best-pets">read more...</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="c-content-blog-post-card-1 c-option-2 c-bordered">
                                            <div class="c-media c-content-overlay">
                                                <div class="c-overlay-wrapper">
                                                    <div class="c-overlay-content">
                                                        <a href="/blog/5-reasons-to-own-a-corgi">
                                                            <i class="icon-link"></i>
                                                        </a>
                                                        <a href="{theme_path}/assets/images/blog/corgi-2.jpg" data-lightbox="fancybox" data-fancybox-group="gallery">
                                                            <i class="icon-magnifier"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                                <img class="c-overlay-object img-responsive" src="{theme_path}/assets/images/blog/corgi-2.jpg" alt=""> </div>
                                            <div class="c-body">
                                                <div class="c-title c-font-bold c-font-uppercase">
                                                    <a href="/blog/5-reasons-to-own-a-corgi">5 Reasons to own a Corgi</a>
                                                </div>
                                                <div class="c-author"> By
                                                    <a href="/blog/5-reasons-to-own-a-corgi">
                                                        <span class="c-font-uppercase">Braden Cluff</span>
                                                    </a>
                                                </div>
                                                <p>There are endless reasons on why you should own a corgi, but I have narrowed it down to my top 5 reasons why you should own a corgi.</p>
                                                <a href="/blog/5-reasons-to-own-a-corgi">read more...</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>                           
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="c-content-tab-1 c-theme">
                               			{include:recent_posts}
                              
                              
                                    </div>
                                </div>
                            </div>
                            
                            <div class="c-content-ver-nav">
                                <div class="c-content-title-1 c-theme c-title-md c-margin-t-40">
                                    <h3 class="c-font-bold c-font-uppercase">Blogs</h3>
                                    <div class="c-line-left c-theme-bg"></div>
                                </div>
                                 <div style="text-align:center;line-height:150%"> <a href="http://www.zazzle.com/hipster_corgi_t_shirt_without_text-235103562985057510?rf=238072751509780587" rel="nofollow" > <img src="http://rlv.zcache.com/hipster_corgi_t_shirt_without_text-r09b0753a745c48ccb6623a66881eca9a_jf37u_325.jpg" alt="Hipster Corgi T-Shirt (without text)" style="border:0;" /> </a> <br /> <a href="http://www.zazzle.com/hipster_corgi_t_shirt_without_text-235103562985057510?rf=238072751509780587" rel="nofollow" >Hipster Corgi T-Shirt (without text)</a> by <a href="http://www.zazzle.com/guyswithglasses?rf=238072751509780587" rel="nofollow">GUYSwithGLASSES</a> <br /> Browse <a href="http://www.zazzle.com/glasses+tshirts" rel="nofollow">Glasses T-Shirts</a> </div>
                                                         </div>
                            
                            
                         
                            <!-- END: CONTENT/BLOG/BLOG-SIDEBAR-1 -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- END: BLOG LISTING  -->
            <!-- END: PAGE CONTENT -->
        </div>







        <!-- BEGIN: PAGE CONTAINER -->
        <div class="c-layout-page">
            <!-- BEGIN: LAYOUT/BREADCRUMBS/BREADCRUMBS-1 -->
            <div class="c-layout-breadcrumbs-1 c-fonts-uppercase c-fonts-bold c-bordered c-bordered-both">
                <div class="container">
                    <div class="c-page-title c-pull-left">
                        <h3 class="c-font-uppercase c-font-sbold">Blog</h3>
                    </div>
                    <ul class="c-page-breadcrumbs c-theme-nav c-pull-right c-fonts-regular">
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>/</li>
                        <li class="c-state_active">Blog</li>
                    </ul>
                </div>
            </div>
            <!-- END: LAYOUT/BREADCRUMBS/BREADCRUMBS-1 -->
            <!-- BEGIN: PAGE CONTENT -->
            <!-- BEGIN: BLOG LISTING -->
            <div class="c-content-box c-size-md">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="c-content-blog-post-1-list">
                                <div class="c-content-blog-post-1">
                                    <div class="c-media">
	                                    
	                                    <div class="c-content-media-2-slider" data-slider="owl" data-single-item="true" data-auto-play="4000">
                                            <div class="c-content-blog-post-1">
                                    <div class="item">
                                        <div class="c-content-media-2" style="background-image: url({theme_path}/assets/images/blog/corgi-3.jpg); min-height: 460px;"> </div>
                                    </div>

                                    <div class="c-title c-font-bold c-font-uppercase">
                                        <a href="/blog/35-corgis-to-get-you-through-the-day"><h1>35 Corgis to get you through the day</h1></a>
                                    </div>
                                    <div class="c-desc"> Theres one thing that always uplifts me and makes me happy, corgis.
                                        <a href="/blog/35-corgis-to-get-you-through-the-day">read more...</a>
                                    </div>
                                    <div class="c-panel">
                                        <div class="c-author">
                                            <a href="#">By
                                                <span class="c-font-uppercase">Braden Cluff</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="c-content-media-2-slider" data-slider="owl" data-single-item="true" data-auto-play="4000">
                                            <div class="c-content-blog-post-1">
                                    <div class="item">
                                        <div class="c-content-media-2" style="background-image: url({theme_path}/assets/images/blog/corgi-1.jpg); min-height: 525px;"> </div>
                                    </div>

                                    <div class="c-title c-font-bold c-font-uppercase">
                                        <a href="/blog/why-corgis-make-the-best-pets"><h1>Why Corgis make the best pets</h1></a>
                                    </div>
                                    <div class="c-desc"> I get asked all the time if my corgi is a good pet, and the answer I always give is they don’t make a good pet, they make the best pet!
                                        <a href="/blog/why-corgis-make-the-best-pets">read more...</a>
                                    </div>
                                    <div class="c-panel">
                                        <div class="c-author">
                                            <a href="#">By
                                                <span class="c-font-uppercase">Braden Cluff</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                                            
                                            <div class="owl-carousel owl-theme c-theme owl-single">
                                                <div class="item">
                                                    <div class="c-content-media-2" style="background-image: url({theme_path}/assets/images/dexter-walk-2.jpg); min-height: 525px;"> </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="c-title c-font-bold c-font-uppercase">
                                        <a href="/blog/5-reasons-to-own-a-corgi"><h1>5 Reasons to own a Corgi</h1></a>
                                    </div>
                                    <div class="c-desc">There are endless reasons on why you should own a corgi, but I have narrowed it down to my top 5 reasons why you should own a corgi.
                                        <a href="/blog/5-reasons-to-own-a-corgi">read more...</a>
                                    </div>
                                    <div class="c-panel">
                                        <div class="c-author">
                                            By
                                                <span class="c-font-uppercase">Braden Cluff</span>
                                            
                                        </div>
                                       
                                    </div>
                                </div>
                                </div>
                                
                                

                                
   <!--                             <div class="c-content-blog-post-1">
                                    <div class="c-media">
                                        <div class="c-content-media-2-slider" data-slider="owl" data-single-item="true" data-auto-play="4000">
                                            <div class="owl-carousel owl-theme c-theme owl-single">
                                                <div class="item">
                                                    <div class="c-content-media-2" style="background-image: url({theme_path}/assets/images/dexter-walk-2.jpg); min-height: 525px;"> </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="c-title c-font-bold c-font-uppercase">
                                        <a href="#">TAKE THE WEB BY STORM WITH JANGO</a>
                                    </div>
                                    <div class="c-desc"> Lorem ipsum dolor sit amet, coectetuer diam ipsum dolor sit amet nonummy coectetuer diam ipsum dolor sit coectetuer adipiscing elit adipiscing consectetuer ipsum dolor sit amipiscing elit sit amet, sit amet, coectetuer
                                        adipiscing elit adipiscing consectetuer ipsum dolor sit amet diam nonummy adipiscing elit sit amet, sit ame.
                                        <a href="#">read more...</a>
                                    </div>
                                    <div class="c-panel">
                                        <div class="c-author">
                                            <a href="#">By
                                                <span class="c-font-uppercase">Braden Cluff</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
-->
                                                            </div>
                        </div>
                        <div class="col-md-3">
                            <!-- BEGIN: CONTENT/BLOG/BLOG-SIDEBAR-1 -->
                            <div class="c-content-tab-1 c-theme c-margin-t-30">
                                <div class="nav-justified">
                                    <ul class="nav nav-tabs nav-justified">
                                        <li class="active">
                                            <a href="#blog_recent_posts" data-toggle="tab">Recent Posts</a>
                                        </li>
                                        <li>
                                            <a href="#blog_popular_posts" data-toggle="tab">Popular Posts</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="blog_recent_posts">
                                            <ul class="c-content-recent-posts-1">
                                                <li>
                                                    <div class="c-image">
                                                        <img src="{theme_path}/assets/images/dexter-walk-2.jpg" alt="" class="img-responsive"> </div>
                                                    <div class="c-post">
                                                        <a href="/blog/5-reasons-to-own-a-corgi" class="c-title">5 reasons to own a corgi</a>
                                                        <div class="c-date">27 Jan 2015</div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="c-image">
                                                        <img src="{theme_path}/assets/images/dexter-money.jpg" alt="" class="img-responsive"> </div>
                                                    <div class="c-post">
                                                        <a href="/blog/why-corgis-make-the-best-pets" class="c-title">Why corgis make the best pets</a>
                                                        <div class="c-date">24 Jan 2015</div>
                                                    </div>
                                                </li>
<!--
                                                <li>
                                                    <div class="c-image">
                                                        <img src="{theme_path}/assets/images/dexter-walk-2.jpg" alt="" class="img-responsive"> </div>
                                                    <div class="c-post">
                                                        <a href="" class="c-title">How did corgis get there name?</a>
                                                        <div class="c-date">27 Jan 2015</div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="c-image">
                                                        <img src="{theme_path}/assets/images/dexter-walk-2.jpg" alt="" class="img-responsive"> </div>
                                                    <div class="c-post">
                                                        <a href="" class="c-title"> UX Design Expo 2015... </a>
                                                        <div class="c-date">27 Jan 2015</div>
                                                    </div>
                                                </li>
-->
                                            </ul>
                                        </div>
                                        <div class="tab-pane" id="blog_popular_posts">
                                            <ul class="c-content-recent-posts-1">
                                                <li>
                                                    <div class="c-image">
                                                        <img src="{theme_path}/assets/images/dexter-walk-2.jpg" class="img-responsive" alt="" /> </div>
                                                    <div class="c-post">
                                                        <a href="" class="c-title">5 reasons to own a corgi</a>
                                                        <div class="c-date">27 Jan 2015</div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="c-image">
                                                        <img src="{theme_path}/assets/images/dexter-money.jpg" alt="" class="img-responsive"> </div>
                                                    <div class="c-post">
                                                        <a href="/blog/why-corgis-make-the-best-pets" class="c-title">Why corgis make the best pets</a>
                                                        <div class="c-date">24 Jan 2015</div>
                                                    </div>
                                                </li>
<!--
                                                <li>
                                                    <div class="c-image">
                                                        <img src="{theme_path}/assets/images/dexter-walk-2.jpg" class="img-responsive" alt="" /> </div>
                                                    <div class="c-post">
                                                        <a href="" class="c-title">How did corgis get there name?</a>
                                                        <div class="c-date">27 Jan 2015</div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="c-image">
                                                        <img src="{theme_path}/assets/images/dexter-walk-2.jpg" class="img-responsive" alt="" /> </div>
                                                    <div class="c-post">
                                                        <a href="" class="c-title"> UX Design Expo 2015... </a>
                                                        <div class="c-date">27 Jan 2015</div>
                                                    </div>
                                                </li>
-->
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                                      <!-- END: CONTENT/BLOG/BLOG-SIDEBAR-1 -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- END: BLOG LISTING  -->
            <!-- END: PAGE CONTENT -->
        </div>
        <!-- END: PAGE CONTAINER -->