
<!--
	@template = tier
	@title = Corgi Blog	
	@keywords = corgi blog, corgi, corgi life, corgi addict
	@description = a blog about corgis and why they are the best pets
	
	
	
	 <!-- BEGIN: PAGE CONTAINER -->
        <div class="c-layout-page">
            <!-- BEGIN: LAYOUT/BREADCRUMBS/BREADCRUMBS-1 -->
            <div class="c-layout-breadcrumbs-1 c-fonts-uppercase c-fonts-bold c-bordered c-bordered-both">
                <div class="container">
                    <div class="c-page-title c-pull-left">
                        <h3 class="c-font-uppercase c-font-sbold">Blog</h3>
                    </div>
                    <ul class="c-page-breadcrumbs c-theme-nav c-pull-right c-fonts-regular">
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>/</li>
                        <li class="c-state_active">Blog</li>
                    </ul>
                </div>
            </div>
            <!-- END: LAYOUT/BREADCRUMBS/BREADCRUMBS-1 -->
            <!-- BEGIN: PAGE CONTENT -->
            <!-- BEGIN: BLOG LISTING -->
            <div class="c-content-box c-size-md">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="c-content-blog-post-card-1-grid">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="c-content-blog-post-card-1 c-option-2 c-bordered">
                                            <div class="c-media c-content-overlay">
                                                <div class="c-overlay-wrapper">
                                                    <div class="c-overlay-content">
                                                        <a href="/blog/35-corgis-to-get-you-through-the-day">
                                                            <i class="icon-link"></i>
                                                        </a>
                                                        <a href="{theme_path}/assets/images/corgi-3.jpg" data-lightbox="fancybox" data-fancybox-group="gallery">
                                                            <i class="icon-magnifier"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                                <img class="c-overlay-object img-responsive" src="{theme_path}/assets/images/corgi-3.jpg" alt=""> </div>
                                            <div class="c-body">
                                                <div class="c-title c-font-bold c-font-uppercase">
                                                    <a href="/blog/35-corgis-to-get-you-through-the-day">35 Corgis to get you through the day</a>
                                                </div>
                                                <div class="c-author"> By
                                                        <span class="c-font-uppercase">Braden Cluff</span>
                                                </div>
                                                <p>Theres one thing that always uplifts me and makes me happy, corgis. </p>
                                                <a href="/blog/35-corgis-to-get-you-through-the-day">read more...</a>
                                            </div>
                                        </div>
                                        <div class="c-content-blog-post-card-1 c-option-2 c-bordered">
                                            <div class="c-media c-content-overlay">
                                                <div class="c-overlay-wrapper">
                                                    <div class="c-overlay-content">
                                                        <a href="/blog/why-corgis-make-the-best-pets">
                                                            <i class="icon-link"></i>
                                                        </a>
                                                        <a href="{theme_path}/assets/images/corgi-2.jpg" data-lightbox="fancybox" data-fancybox-group="gallery">
                                                            <i class="icon-magnifier"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                                <img class="c-overlay-object img-responsive" src="{theme_path}/assets/images/corgi-1.jpg" alt=""> </div>
                                            <div class="c-body">
                                                <div class="c-title c-font-bold c-font-uppercase">
                                                    <a href="/blog/why-corgis-make-the-best-pets">Why Corgis make the best pets</a>
                                                </div>
                                                <div class="c-author"> By
                                                        <span class="c-font-uppercase">Braden Cluff</span>
                                                </div>
                                                <p>I get asked all the time if my corgi is a good pet, and the answer I always give is they don’t make a good pet, they make the best pet!</p>
                                                <a href="/blog/why-corgis-make-the-best-pets">read more...</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="c-content-blog-post-card-1 c-option-2 c-bordered">
                                            <div class="c-media c-content-overlay">
                                                <div class="c-overlay-wrapper">
                                                    <div class="c-overlay-content">
                                                        <a href="/blog/5-reasons-to-own-a-corgi">
                                                            <i class="icon-link"></i>
                                                        </a>
                                                        <a href="{theme_path}/assets/images/corgi-2.jpg" data-lightbox="fancybox" data-fancybox-group="gallery">
                                                            <i class="icon-magnifier"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                                <img class="c-overlay-object img-responsive" src="{theme_path}/assets/images/corgi-2.jpg" alt=""> </div>
                                            <div class="c-body">
                                                <div class="c-title c-font-bold c-font-uppercase">
                                                    <a href="/blog/5-reasons-to-own-a-corgi">5 Reasons to own a Corgi</a>
                                                </div>
                                                <div class="c-author"> By
                                                    <a href="/blog/5-reasons-to-own-a-corgi">
                                                        <span class="c-font-uppercase">Braden Cluff</span>
                                                    </a>
                                                </div>
                                                <p>There are endless reasons on why you should own a corgi, but I have narrowed it down to my top 5 reasons why you should own a corgi.</p>
                                                <a href="/blog/5-reasons-to-own-a-corgi">read more...</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>                           
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="c-content-tab-1 c-theme">
                               			{include:recent_posts}
                              
                                    </div>
                                </div>
                            </div>
                         
                            <!-- END: CONTENT/BLOG/BLOG-SIDEBAR-1 -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- END: BLOG LISTING  -->
            <!-- END: PAGE CONTENT -->
        </div>



