<!--
	@template = coming-soon
	@title = Forums
	@keywords = 
	@description = 
-->

<!-- BEGIN: PAGE CONTAINER -->
        <div class="c-layout-page">
            <!-- BEGIN: LAYOUT/BREADCRUMBS/BREADCRUMBS-1 -->
            <div class="c-layout-breadcrumbs-1 c-fonts-uppercase c-fonts-bold">
                <div class="container">

                    <ul class="c-page-breadcrumbs c-theme-nav c-pull-right c-fonts-regular">

                        <li class="c-state_active">Forums</li>
                    </ul>
                </div>
            </div>
            <!-- END: LAYOUT/BREADCRUMBS/BREADCRUMBS-1 -->
            
 <!-- BEGIN: CONTENT/STATS/COUNTER-2 -->
            <div class="c-content-box c-size-md c-bg-parallax" style="background-image: url({theme_path}/assets/base/img/content/backgrounds/bg-3.jpg)">
                <div class="container">
                    <div class="c-content-counter-1" style="margin-bottom: 65px;">
                        <div class="c-content-title-2">
                            <h3 class="c-center c-font-uppercase c-font-white c-font-bold">Forums Coming Soon</h3>
                            <p class="c-center c-font-white c-opacity-08">Follow us for more updates</p>

                            <div class="c-line c-dot c-dot-center c-theme-bg c-theme-bg-after c-line-short"></div>
                        </div>
                        <div class="row c-margin-t-60">
                            <div class="col-md-4">
	                            <a href="https://www.facebook.com/corgicommunity" target="_blank">
                                <i class="fa fa-facebook-sq fa-5x" style="color: #FFF"></i>
                                <h4 class="c-title c-first c-font-white c-font-uppercase c-font-bold">Facebook</h4>
	                            </a>
                            </div>
                            <div class="col-md-4">
	                            <a href="https://twitter.com/corgi_community" target="_blank">
                                <i class="fa fa-twitter fa-5x" style="color: #FFF"></i>
                                <h4 class="c-title c-font-white c-font-uppercase c-font-bold">Twitter</h4>
	                            </a>
                            </div>
                            <div class="col-md-4">
	                            <a href="https://www.instagram.com/thecorgicommunity" target="_blank">
                                <i class="fa fa-instagram fa-5x" style="color: #FFF"></i>
                                <h4 class="c-title c-font-white c-font-uppercase c-font-bold">Instagram</h4>
	                            </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END: CONTENT/STATS/COUNTER-2 -->
